version: '3'
services:
  graph-node:
    image: graphprotocol/graph-node:latest
    platform: linux/amd64  # 强制指定 amd64 架构
    ports:
      - '8000:8000'  # GraphQL HTTP
      - '8001:8001'  # GraphQL WebSocket
      - '8020:8020'  # JSON-RPC admin
      - '8030:8030'  # Subgraph indexing status
      - '8040:8040'  # Metrics
    depends_on:
      - ipfs
      - postgres
    environment:
      postgres_host: postgres
      postgres_user: graph-node
      postgres_pass: let-me-in
      postgres_db: graph-node
      ipfs: 'ipfs:5001'
      # 修改为你的本地 Hardhat/Ganache 节点地址
      ethereum: 'localhost:http://host.docker.internal:8545'
      GRAPH_LOG: info
    extra_hosts:
      - "host.docker.internal:host-gateway"

  ipfs:
    image: ipfs/kubo:latest
    ports:
      - '5001:5001'  # API
    volumes:
      - ./data/ipfs:/data/ipfs

  postgres:
    image: postgres:14
    ports:
      - '5432:5432'
    command: ["postgres", "-cshared_preload_libraries=pg_stat_statements"]
    environment:
      POSTGRES_USER: graph-node
      POSTGRES_PASSWORD: let-me-in
      POSTGRES_DB: graph-node
      POSTGRES_INITDB_ARGS: "-E UTF8 --locale=C"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
